

.Todo-List {
  border-color: hotpink;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Gol {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.All {
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}

.Add {
  background-color: pink;
  border-radius: 6px;
}

.Name {
  color: #6B7280;
}

.Text {
  color: #E4E4E7;
}